.NewsArticleInTheHeadlines {

}

.swiper-container {
  width: 100%;
  height: 100%;
}

//From screen.css
.swiper-container {
  height: 100%;
  padding: 0 0 20px 0;
  width: 100%;
}
.swiper-pagination {
  bottom: 0px;
}
.swiper-pagination-bullet {
  background-color: #aaa;
  opacity: 1.0;
}
.swiper-pagination-bullet-active {
  background-color: #c95106;
}
 .swiper-button-prev,
 .swiper-button-next {
  background-image: none;
}
 .swiper-button-prev,
 .swiper-button-next {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  bottom: 4px;
  height: 12px;
  margin: 0px;
  width: 12px;
  top: auto;
}
 .swiper-button-prev {
  transform: rotate(-0.125turn);
}
 .swiper-button-next {
  transform: rotate(0.375turn);
}
 .swiper-button-disabled {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  opacity: 1.0;
}


/* From NewsArticleInTheHeadlines.less

@import '../../../bootstrap/3.3.6/less/variables.less';
@import '../../../bootstrap/3.3.6/less/mixins/vendor-prefixes.less';
@import '../../../less-flexbox-mixins/1.0.0/less-flexbox-mixins.less';
@import './colors.less';

.NewsArticleInTheHeadlines {
  // In The Headlines styles first
  // Swiper-specific overrides below

  background-color: @accentTan;
  // In container-row-column in CMS support
  margin: 0 -(@grid-gutter-width / 2);
  padding: 20px 0;

  &-titleOutside {
    position: relative;
    &::before {
      background-color: @mercerOrange;
      bottom: 1px;
      content: '';
      color: @mercerOrange;
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &-title {
    background: @accentTan;
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    margin: 0 0 0 -20px;
    padding: 0 10px;
  }

  &-container {
    margin: 0 auto;
    // In container-row-column in CMS support
    // padding: 0 (@grid-gutter-width / 2);
    padding: 0;
    // In container-row-column in CMS support
    // @media (max-width: @screen-xs-max) {
    //     width: 100%;
    // }
    // @media (min-width: @screen-sm-min) {
    //     width: @container-sm;
    // }
    // @media (min-width: @screen-md-min) {
    //     width: @container-md;
    // }
    // @media (min-width: @screen-lg-min) {
    //     width: @container-lg;
    // }
  }

  &-slide {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &-headline {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  // Gently overcome the specificity of .full-width-row h3, h4 selector
  &-headline&-headline {
    font-weight: 400;
  }

  &-link,
  &-link:active,
  &-link:focus,
  &-link:hover,
  &-link:link,
  &-link:visited {
    color: @mercerOrange;
  }

  &-summary {
    hyphens: auto;
  }

  &-image {
    background-color: #888;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    overflow: hidden;
    padding-bottom: (2 / 3 * 100%);
    position: relative;
  }

  &-imagePlaceholder {
    background-position: center center;
    background-size: cover;
    display: none;
    height: ~'calc(100% + 30px)';
    left: -15px;
    opacity: 1.0;
    position: absolute;
    top: -15px;
    width: ~'calc(100% + 30px)';
  }

  @supports( (-webkit-filter: blur(30px))
            or (filter: url(../svg-filters/fegaussianblur-stddeviation-30.svg#blur))
            or (filter: blur(30px))) {
    &-imagePlaceholder {
      display: block;
      -webkit-filter: blur(30px);
      filter: url(../svg-filters/fegaussianblur-stddeviation-30.svg#blur);
      filter: blur(30px);
    }
  }

  &-image.swiper-lazy-loaded &-imagePlaceholder {
    opacity: 0.0;
    transition: opacity 300ms ease-in;
  }

  &-navigation {
    display: flex;
  }

  &-button {
    align-items: center;
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    .flex-display();
    justify-content: center;
    outline: none;
    overflow: visible;
    padding: 0;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  &-buttonText {
    display: none;
  }

  &-paginationOutside {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &-pagination {
    bottom: 0px;
  }

  &-moreNewsLink {
    margin-top: 1rem;
    text-align: right;

    .CS_Element_Textblock {
      text-align: inherit;
    }
  }

  // Override Swiper Defaults

  .swiper-pagination-bullet {
    background-color: #888;
    height: 10px;
    margin: 0 0.5rem 0 0;
    width: 10px;
    opacity: 1.0;

    &:last-of-type {
      margin: 0;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: @mercerOrange;
  }

  .swiper-button-disabled svg {
    fill: #888;
  }

}
*/