.NewsArticleInTheHeadlines {

}

.swiper-container {
  width: 100%;
  height: 100%;
}

//From screen.css
.swiper-container {
  height: 100%;
  padding: 0 0 20px 0;
  width: 100%;
}
.swiper-pagination {
  bottom: 0px;
}
.swiper-pagination-bullet {
  background-color: #aaa;
  opacity: 1.0;
}
.swiper-pagination-bullet-active {
  background-color: #c95106;
}
 .swiper-button-prev,
 .swiper-button-next {
  background-image: none;
}
 .swiper-button-prev,
 .swiper-button-next {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  bottom: 4px;
  height: 12px;
  margin: 0px;
  width: 12px;
  top: auto;
}
 .swiper-button-prev {
  transform: rotate(-0.125turn);
}
 .swiper-button-next {
  transform: rotate(0.375turn);
}
 .swiper-button-disabled {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  opacity: 1.0;
}