@include b(in-the-headlines) {

  //margin: 0 -($grid-gutter-width / 2);

  @include e(image) {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  @include e(button-prev) {

  }

  @include e(button-next) {

  }

  @include e(headline) {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }

  @include e(link) {
    @include m(headline) {
      &:active,
      &:focus,
      &:hover,
      &:link,
      &:visited {
        color: $orange;
      }
    }
  }

  @include e(controls){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include e(more-news-wrapper){
    padding-top: 20px;
    text-align: right;
  }

  @include e(more-news){
    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
      color: $dark-orange;
    }
  }

  // Override Swiper Defaults

  .swiper-pagination-bullet {
    background-color: #888;
    height: 10px;
    margin: 0 0.5rem 0 0;
    width: 10px;
    opacity: 1.0;

    &:last-of-type {
      margin: 0;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $orange;
  }

  .swiper-button-disabled svg {
    fill: #888;
  }

}
