@import '../../node_modules/sass-bem/bem';

@import 'colors';

@include b(test) {
  @include e(row) {
    background-color: $light-tan;
    max-width: 100%;
    overflow: hidden;
    padding: 20px 0;
  }

  @include e(title) {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 20px;

    @include before() {
      content: ' ';
      position: absolute;
      left: -3333px;
      width: 9999px;
      margin-top: 1em;
      height: 1px;
      border-bottom: 1px solid $orange;
    }
  }

  @include e(title-text) {
    background-color: $light-tan;
    padding: 0 10px;
  }
}